<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidapptest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="AndroidAppTest"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- H5 / 钱包 回跳 App -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="myapp" android:host="wc" />
            </intent-filter>

        </activity>

    </application>
</manifest>
